@using HorseBets.Bets.Store
@rendermode InteractiveServer
@inherits FetchClient

<div class="top-row">
	@if (ClientState != null && ClientState.Value != null && ClientState.Value.Client != null)
	{
		<AuthorizeView>
			<Authorized>
				<h4>💵: @(ClientState.Value.Client.Balance)$</h4>
			</Authorized>
		</AuthorizeView>
	}
</div>

@code {

}
